In [15]:
import os, inspect, sys
import json
import pandas as pd
import numpy as np

CURRENT_DIR = os.path.dirname(inspect.getabsfile(inspect.currentframe()))
ROOT_DIR = os.path.dirname(CURRENT_DIR)
sys.path.insert(0, ROOT_DIR)

In [4]:
ffname = os.path.join(ROOT_DIR, "reb", "data", "ext", "data_file.csv")

In [7]:
df = pd.read_csv(ffname)
df.head()

,Date,AWHNONAG,CES9091000001,CEU0500000003,LNS13023622,LNS13023654,LNS13023706,LNS13026511,MARTSMPCSM44000USS,MNFCTRIRSA,MNFCTRMPCIMSA,MNFCTRMPCSMSA,MPCT00XXS,MPCTNRXXS,MPCTXXXXS,MVPHGFD027MNFRBDAL,PAYEMS,UNEMPLOY,USGOVT,USPRIV
0,2/1/87,34.9,3064.0,NaN,48.5,12.6,13.1,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.3,100915.0,7865.0,17036.0,83879.0
1,2/2/87,34.9,3064.0,NaN,48.5,12.6,13.1,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.3,100915.0,7865.0,17036.0,83879.0
2,2/3/87,34.9,3064.0,NaN,48.5,12.6,13.1,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.3,100915.0,7865.0,17036.0,83879.0
3,2/4/87,34.9,3064.0,NaN,48.5,12.6,13.1,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.3,100915.0,7865.0,17036.0,83879.0
4,2/5/87,34.9,3064.0,NaN,48.5,12.6,13.1,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1768.3,100915.0,7865.0,17036.0,83879.0